@use "../../base/typographie";
@use "../../styles/utils/variable" as v;
@use "../../styles/utils/functions" as fn;

body {
  max-width: 650px;
  margin: 0 auto;
  padding: fn.convertir-rem(50) 0;
  height: 100%;
  line-height: v.$line-height-base;
  font-family: "Lexend", sans-serif;
  background: map-get(v.$couleurs, primaire);
  color: #ececef;
  font-weight: 300;
  overflow-x: visible;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: fn.convertir-rem(1);
  background: linear-gradient(
    to right,
    rgb(211, 143, 15),
    rgb(176, 87, 117),
    #7522df,
    #2196f3
  );
}

p {
  font-size: v.$font-size-base;
  line-height: v.$line-height-base;
  letter-spacing: fn.convertir-rem(0.5);
  &::selection {
    background: rgb(176, 87, 117);
  }
}

h2,
h3,
h4 {
  line-height: fn.convertir-rem(27);
  text-transform: capitalize;
  color: rgb(113, 113, 122);
}
h1,
h2,
h3,
h4 svg {
  user-select: none;
}
h1 {
  font-size: 2rem;
  margin: fn.convertir-rem(25) 0;
  text-transform: capitalize;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}

a {
  color: #ececef;
}

header,
.about,
.user {
  margin: fn.convertir-rem(75) 0;
}

.about{
  svg{
    width: 50px;
  }
}


.content {
  opacity: 0;
  transform: translateY(fn.convertir-rem(20));
  transition: opacity 0.4s ease, transform 0.4s ease;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
}

.content.activePage {
  opacity: 1;
  transform: translateY(0);
  height: auto;
  pointer-events: auto;
}
