$couleurs: (
  primaire: #09090b,
  secondaire: #ececef,
  blanc-casser: #a1a1a4,
  sombre-gris: #3f3f46,
  bg-dark: #0e0e0e,
  card-bg: #18181b,
  accent-color: #4ea5ff,
  text-light: #ffffff,
  text-gray: #888,
  text-light-gray: #ccc,
  Bright-Gray:#ececef,
);

// .button {
//   background-color: map-get($couleurs, primaire); // Résultat : #3498db
// }

$font-size-base: 1rem;
$line-height-base: 1.5;
$small-size: 0.875rem;
