*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 100%;
}

html,
body {
  height: 100%;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
}
@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  max-width: min(655px, 100% - 2rem);
  margin-inline: auto;
  margin: 0 auto;
  padding: 3.125rem 0;
  height: 100%;
  line-height: 1.5;
  font-family: "Lexend", sans-serif;
  background: #09090b;
  color: #ececef;
  font-weight: 300;
  overflow-x: visible;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  height: 0.0625rem;
  background: -webkit-gradient(linear, left top, right top, from(rgb(211, 143, 15)), color-stop(rgb(176, 87, 117)), color-stop(#7522df), to(#2196f3));
  background: linear-gradient(to right, rgb(211, 143, 15), rgb(176, 87, 117), #7522df, #2196f3);
}

p {
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
}
p::-moz-selection {
  background: rgb(176, 87, 117);
}
p::selection {
  background: rgb(176, 87, 117);
}

h2,
h3,
h4 {
  line-height: 1.6875rem;
  text-transform: capitalize;
  color: rgb(113, 113, 122);
}

h1,
h2,
h3,
h4 svg {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

h1 {
  font-size: 2rem;
  margin: 1.5625rem 0;
  text-transform: capitalize;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: #ececef;
}

header,
.about,
.user {
  margin: 4.6875rem 0;
}

.about svg {
  width: 50px;
}

.content {
  opacity: 0;
  -webkit-transform: translateY(1.25rem);
          transform: translateY(1.25rem);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
  height: 0;
  overflow: hidden;
  pointer-events: none;
  position: relative;
}

.content.activePage {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: auto;
  pointer-events: auto;
}

header div h1 {
  font-weight: 400;
  font-size: 1.4em;
  width: 80%;
}
header div p {
  margin: 1.5rem 0;
  text-align: left;
}

nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
nav a {
  text-decoration: none;
  list-style: none;
}
nav p {
  font-family: "Allura";
  font-size: 1.5em;
  text-transform: capitalize;
  letter-spacing: 0.1em;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
  font-weight: 600;
}
nav p span::after {
  content: "";
  display: block;
  width: 32%;
  -webkit-transform: translateY(-0.5rem);
          transform: translateY(-0.5rem);
  height: 0.125rem;
  background: linear-gradient(135deg, #7522df, #2196f3);
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 38%;
  height: 2.5rem;
  border: solid 1px #333334;
  background: #18181b;
  border-radius: 93.75rem;
}
nav ul li {
  cursor: pointer;
  color: #a1a1a4;
  font-size: 0.9em;
  margin-left: 2px;
  margin-right: 2px;
  text-transform: capitalize;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  list-style: none;
}

.active {
  background: #3f3f46;
  margin-left: 0.125rem;
  border-radius: 62.5rem;
  height: 2.1875rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #ececef;
}

.buildSection {
  border-top: solid 0.125rem #27272a;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.buildSection .title-project {
  margin: 2.8125rem 0 0.875rem;
}
.buildSection .title-project h2 {
  font-size: 0.9375rem;
  font-weight: 300;
}
.buildSection .icon-place .last-project:first-child,
.buildSection .icon-place .last-project:nth-child(2) {
  padding: 1.1875rem;
}
.buildSection .icon-place .last-project:first-child:hover,
.buildSection .icon-place .last-project:nth-child(2):hover {
  background: #212124;
  border: solid 0.03125rem #3d3d41;
  border-radius: 0.3125rem;
}
.buildSection .icon-place .last-project:first-child::after {
  content: "";
  position: absolute;
  width: 97%;
  height: 0.125rem;
  border-radius: 0.3125rem;
  background: #27272a;
  left: 0.625rem;
  -webkit-transform: translateY(3.6875rem);
          transform: translateY(3.6875rem);
}
.buildSection .icon-place .last-project:first-child:hover .icon-cards,
.buildSection .last-project:nth-child(2):hover .icon-cards {
  background: linear-gradient(135deg, #7522df, #2196f3);
  -webkit-transition: ease 0.1s background;
  transition: ease 0.1s background;
}
.buildSection .icon-place {
  position: relative;
  border: solid 0.0625rem #27272a;
  height: 70%;
  border-radius: 0.875rem;
  background: #18181b;
  padding: 0.5rem;
  width: 100%;
}
.buildSection .icon-place .last-project {
  height: 100%;
  border: solid 0.03125rem transparent;
  cursor: pointer;
  padding: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
.buildSection .icon-place .last-project svg {
  height: 1.25rem;
}
.buildSection .icon-place .last-project .icon-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.1875rem;
  width: 8%;
  border-radius: 0.625rem;
  background: #3f3f46;
}
.buildSection .icon-place .last-project .description .num {
  font-size: 0.8125rem;
  text-transform: capitalize;
}
.buildSection .icon-place .last-project .description p {
  font-size: 0.8125rem;
}
.buildSection .icon-place .last-project .description .discription-p {
  color: #a1a1a4;
}

.contactmeSection {
  padding-bottom: 4.6875rem;
}
.contactmeSection .contact-title {
  margin: 2.8125rem 0 0.875rem;
}
.contactmeSection .contact-title h3 {
  font-size: 0.9375rem;
  font-weight: 300;
}
.contactmeSection .carte-contact {
  border: solid 1px #27272a;
  height: 70%;
  border-radius: 0.625rem;
  background: #18181b;
  padding: 0.625rem;
  width: 100%;
}
.contactmeSection .parent-div {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
  cursor: pointer;
}
.contactmeSection .parent-div a {
  text-decoration: none;
}
.contactmeSection .parent-div .A {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-top: 1px solid transparent;
  border-bottom: solid 1px #27272a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  padding: 0.5rem;
}
.contactmeSection .parent-div .A .svg-parent svg {
  height: 100%;
  text-align: center;
}
.contactmeSection .parent-div .A .infos-contact {
  -ms-flex-item-align: center;
      align-self: center;
}
.contactmeSection .parent-div .A .infos-contact p {
  text-transform: capitalize;
  font-size: 0.8125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contactmeSection .parent-div .A .mail-infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.75rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.contactmeSection .parent-div .A .mail-infos p {
  text-transform: capitalize;
  font-size: 0.8125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.contactmeSection .parent-div .A .mail-infos div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contactmeSection .parent-div .A .mail-infos div span {
  font-size: 0.8125rem;
}
.contactmeSection .parent-div .A .mail-infos div span::-moz-selection {
  background: rgb(176, 87, 117);
}
.contactmeSection .parent-div .A .mail-infos div span::selection {
  background: rgb(176, 87, 117);
}
.contactmeSection .parent-div .A:hover {
  background: #212124;
  border: solid 0.03125rem #3d3d41;
}
.contactmeSection .parent-div .bordur {
  border: 0.0625rem solid transparent;
}

.about p {
  margin: 1.5rem 0;
  text-align: left;
}

.gallery .areas-grid {
  width: 100%;
  height: 25rem;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: repeat(2, 50%);
  gap: 0.75rem;
  grid-template-areas: "A B" "A C";
}
.gallery .areas-grid div {
  height: 100%;
  width: 100%;
}
.gallery .areas-grid img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.625rem;
  height: 100%;
  width: 100%;
}
.gallery .areas-grid .A {
  grid-area: A;
}

.about-me div {
  padding: 30px 0;
}

.C-skills .skills-title {
  margin: 2.8125rem 0 0.875rem;
}
.C-skills .skills-title h2 {
  font-size: 0.9375rem;
  font-weight: 300;
}
.C-skills .skills-flex {
  width: 100%;
  height: 12.5rem;
  background: #18181b;
  border: solid 1px #27272a;
  border-radius: 0.625rem;
}
.C-skills .skills-flex .parent-svg {
  display: grid;
  grid-template-columns: repeat(3, 33.4%);
  grid-template-rows: repeat(2, 50%);
  height: 100%;
  width: 100%;
}
.C-skills .skills-flex .parent-svg div:nth-child(2) {
  border-right: solid 0.03125rem #27272a;
  border-left: solid 0.03125rem #27272a;
}
.C-skills .skills-flex .parent-svg div:nth-child(5) {
  border-right: solid 0.03125rem #27272a;
  border-left: solid 0.03125rem #27272a;
}
.C-skills .skills-flex .parent-svg div:nth-child(4),
.C-skills .skills-flex .parent-svg div:nth-child(5),
.C-skills .skills-flex .parent-svg div:nth-child(6) {
  border-top: solid 0.03125rem #27272a;
}
.C-skills .skills-flex div {
  width: 100%;
  height: 100%;
  padding: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: none;
  border-left: none;
}
.C-skills .skills-flex div svg {
  height: 2.5rem;
  width: 2.5rem;
}

.projects div.project-title {
  width: 100%;
}
.projects div.project-title h3 {
  margin: 1.5625rem 1.5625rem;
  font-size: 0.9375rem;
  font-weight: 300;
}

.project {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  width: 100%;
  gap: 0.75rem;
}

.title {
  font-size: 0.9375rem;
  color: #ececef;
}

.project-card {
  background-color: #18181b;
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.1);
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.05);
  width: 100%;
}

.project-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(78, 165, 255, 0.1) 0%, rgba(0, 0, 0, 0) 50%);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.project-card:hover::before {
  opacity: 1;
}

.card-content {
  padding: 15px;
  position: relative;
}

.date {
  color: var(--text-gray);
  font-size: 0.8rem;
}

.link {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 600;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  position: relative;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
  margin: 15px 0;
}

.tag {
  background-color: rgba(78, 165, 255, 0.15);
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 0.7rem;
  font-weight: 500;
}

@media (max-width: 768px) {
  .project {
    padding: 40px 20px;
  }
  .card-container {
    grid-template-columns: 1fr;
  }
}
.quote-section .quote-title {
  margin: 2.8125rem 0 0.875rem;
}
.quote-section .quote-title h4 {
  font-size: 0.9375rem;
  font-weight: 300;
  text-transform: none;
}
.quote-section .notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 100%;
  height: 8rem;
  background: #29292c;
  border-radius: 0.625rem;
  cursor: pointer;
  overflow: hidden;
  font-size: 14px;
  --gradient: linear-gradient(to bottom, #424243);
  --color: #ececef;
}
.quote-section .notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.6375rem;
  background: #18181b;
  z-index: 2;
}
.quote-section .notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: rgba(78, 165, 255, 0.15);
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  z-index: 4;
}
.quote-section .notification:hover:after {
  -webkit-transform: translateX(0.15rem);
          transform: translateX(0.15rem);
}
.quote-section .notititle {
  color: #99999d;
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 0.9rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  z-index: 5;
  text-transform: capitalize;
}
.quote-section .notification:hover .notititle {
  -webkit-transform: translateX(0.15rem);
          transform: translateX(0.15rem);
}
.quote-section .notibody {
  color: var(--color);
  padding: 0 1.25rem;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  z-index: 5;
  font-size: 0.8125rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.5;
  letter-spacing: 0.03125rem;
}
.quote-section .notification:hover .notibody {
  -webkit-transform: translateX(0.25rem);
          transform: translateX(0.25rem);
}
.quote-section .notiglow,
.quote-section .notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, rgba(87, 155, 228, 0.815), transparent);
  opacity: 0;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}
.quote-section .notiglow {
  z-index: 3;
}
.quote-section .notiborderglow {
  z-index: 1;
}
.quote-section .notification:hover .notiglow {
  opacity: 0.1;
}
.quote-section .notification:hover .notiborderglow {
  opacity: 0.1;
}
.quote-section .note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}
.quote-section .written {
  -webkit-transform: translateY(-17px);
          transform: translateY(-17px);
  text-transform: capitalize;
}
.quote-section .written p {
  font-size: 1em;
}

.about-portfolios {
  padding-bottom: 4.6875rem;
}
.about-portfolios .portfolios-title {
  margin: 2.8125rem 0 0.875rem;
}
.about-portfolios .portfolios-title h4 {
  font-size: 0.9375rem;
  font-weight: 300;
  text-transform: none;
}
.about-portfolios .liste-site {
  border: solid 0.0625rem #27272a;
  width: 100%;
  background: #18181b;
  border-radius: 0.625rem;
}

.liste-site {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.liste-site li {
  -ms-flex-item-align: center;
      align-self: center;
  border-bottom: solid 1px #27272a;
  padding: 0.625rem;
}
.liste-site .last-li {
  border-bottom: none;
}/*# sourceMappingURL=main.css.map */