@use "../../styles/utils/functions" as fn;
@use "../../styles/utils/mixin" as m;
@use "../../styles/utils/variable" as v;

.buildSection {
  border-top: solid 2px #27272a;

  .title-project {
    margin: 45px 0 14px;
    h2 {
      font-size: 15px;
      line-height: 27px;
      text-transform: capitalize;
      color: rgb(113, 113, 122);
      font-weight: 300;
      text-transform: capitalize;
    }
  }

  .icon-place .last-project:first-child,
  .icon-place .last-project:nth-child(2) {
    padding: fn.convertir-rem(20);

    &:hover {
      background: #212124;
      border: solid 0.5px #3d3d41;
      border-radius: 5px;
    }
  }
  .icon-place .last-project:first-child {
    &::after {
      content: "";
      position: absolute;
      width: 97%;
      height: 2px;
      border-radius: 5px;
      background: #27272a;
      left: 10px;
      transform: translateY(60px);
    }
  }

  .icon-place .last-project:first-child:hover .icon-cards,
  .last-project:nth-child(2):hover .icon-cards {
    background: linear-gradient(135deg, #7522df, #2196f3);

    transition: ease 0.1s background;
  }

  .icon-place {
    position: relative;
    border: solid 1px #27272a;
    height: 70%;
    border-radius: 14px;
    background: #18181b;
    padding: fn.convertir-rem(8);
    width: 100%;

    .last-project {
      height: 100%;
      border: solid 0.5px transparent;
      cursor: pointer;
      svg {
        height: fn.convertir-rem(20);
      }
      padding: fn.convertir-rem(15);

      display: flex;
      gap: 15px;
      .icon-cards {
        @include m.flexcenter;
        height: 35px;
        width: 8%;
        border-radius: 8px;
        background: map-get(v.$couleurs, sombre-gris);
      }

      .description {
        .num {
          font-size: fn.convertir-rem(13);
          text-transform: capitalize;
        }
        p {
          font-size: fn.convertir-rem(13);
        }
        .discription-p {
          color: #a1a1a4;
        }
      }
    }
  }
}
