@use "sass:map";
@use "../../styles/utils/functions" as fn;
@use "../../styles/utils/mixin" as m;
@use "../../styles/utils/variable" as v;


.buildSection {
  border-top: solid fn.convertir-rem(2) #27272a;
  user-select: none;

  .title-project {
    margin: fn.convertir-rem(45) 0 fn.convertir-rem(14);
    h2 {
      font-size: fn.convertir-rem(15);
      font-weight: 300;
    }
  }

  .icon-place .last-project:first-child,
  .icon-place .last-project:nth-child(2) {
    padding: fn.convertir-rem(19);

    &:hover {
      background: #212124;
      border: solid fn.convertir-rem(0.5) #3d3d41;
      border-radius: fn.convertir-rem(5);
    }
  }
  .icon-place .last-project:first-child {
    &::after {
      content: "";
      position: absolute;
      width: 97%;
      height: fn.convertir-rem(2);
      border-radius: fn.convertir-rem(5);
      background: #27272a;
      left: fn.convertir-rem(10);
      transform: translateY(fn.convertir-rem(59));
    }
  }

  .icon-place .last-project:first-child:hover .icon-cards,
  .last-project:nth-child(2):hover .icon-cards {
    background: linear-gradient(135deg, #7522df, #2196f3);
    transition: ease 0.1s background;
  }

  .icon-place {
    position: relative;
    border: solid fn.convertir-rem(1) #27272a;
    height: 70%;
    border-radius: fn.convertir-rem(14);
    background: #18181b;
    padding: fn.convertir-rem(8);
    width: 100%;

    .last-project {
      height: 100%;
      border: solid fn.convertir-rem(.5) transparent;
      cursor: pointer;
      svg {
        height: fn.convertir-rem(20);
      }
      padding: fn.convertir-rem(10);

      display: flex;
      gap: fn.convertir-rem(15);
      .icon-cards {
        @include m.flexcenter;
        height: fn.convertir-rem(35);
        width: 8%;
        border-radius: fn.convertir-rem(10);
        background: map.get(v.$couleurs, sombre-gris);
      }

      .description {
        .num {
          font-size: fn.convertir-rem(13);
          text-transform: capitalize;
        }
        p {
          font-size: fn.convertir-rem(13);
        }
        .discription-p {
          color: #a1a1a4;
        }
      }
    }
  }
}
