@use "../../styles/utils/functions" as fn;

.C-skills {
  .skills-title {
    margin: fn.convertir-rem(45) 0 fn.convertir-rem(14);
    h2 {
      font-size: fn.convertir-rem(15);
      font-weight: 300;
    }
  }
  .skills-flex {
    width: 100%;
    height:fn.convertir-rem(200);
    background: #18181b;
    border-radius: fn.convertir-rem(14);

    .parent-svg {
      display: grid;
      grid-template-columns: repeat(3, 33.4%);
      grid-template-rows: repeat(2, 50%);
      height: 100%;
      width: 100%;

      div:nth-child(2) {
        border-right:  solid fn.convertir-rem(0.5) #27272a;
        border-left:  solid fn.convertir-rem(0.5) #27272a;
      }
      div:nth-child(5) {
        border-right:  solid fn.convertir-rem(0.5) #27272a;
        border-left:  solid fn.convertir-rem(0.5) #27272a;
      }
      div:nth-child(4),
      div:nth-child(5),
      div:nth-child(6) {
        border-top: solid fn.convertir-rem(0.5) #27272a;
      }
    }

    div {
      width: 100%;
      height: 100%;
      padding: fn.convertir-rem(25);
      display: flex;
      justify-content: center;
      align-items: center;
     
      border-right: none;
      border-left: none;

      svg {
        height: fn.convertir-rem(40);
        width: fn.convertir-rem(40);
      }
    }
  }
}
