@use "../../styles/utils/variable" as v;
@use "../../styles/utils/functions" as fn;

.contactmeSection {
  //   padding: fn.convertir-rem(20);
  padding-bottom: fn.convertir-rem(75);
  .contact-title {
    margin: fn.convertir-rem(45) 0 fn.convertir-rem(14);
    h3 {
      font-size: fn.convertir-rem(15);
      font-weight: 300;
    }
  }
  .carte-contact {
    border: solid 1px #27272a;
    height: 70%;
    border-radius: fn.convertir-rem(14);
    background: #18181b;
    padding: fn.convertir-rem(10);
    width: 100%;
  }

  .parent-div {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;

    cursor: pointer;
    .A {
      border-left: 1px solid transparent;
      border-right: 1px solid transparent;
      border-top: 1px solid transparent;
      border-bottom: solid 1px #27272a;

      display: flex;
      gap: fn.convertir-rem(15);
      padding: fn.convertir-rem(8);
      .svg-parent {
        svg {
          height: 100%;
          text-align: center;
        }
      }
      .infos-contact {
        align-self: center;
        p {
          text-transform: capitalize;
          font-size: fn.convertir-rem(13);
          user-select: none;
        }
      }

      .mail-infos {
        display: flex;
        align-items: center;
        gap: fn.convertir-rem(15);
        justify-content: space-between;
        width: 100%;
        p {
          text-transform: capitalize;
          font-size: fn.convertir-rem(13);
          user-select: none;
        }

        div {
          display: flex;
          align-items: center;
          span {
            font-size: fn.convertir-rem(13);
            &::selection {
              background: rgb(176, 87, 117);
            }
          }
        }
      }
      &:hover {
        background: #212124;
        border: solid fn.convertir-rem(0.5) #3d3d41;
        border-radius: fn.convertir-rem(5);
      }
    }

    .bordur {
      border: fn.convertir-rem(1) solid transparent;
    }
  }
}
