@use "../../styles/utils/variable" as v;
@use "../../styles/utils/functions" as fn;

.contactmeSection {
  //   padding: fn.convertir-rem(20);
  padding-bottom: 75px;
  .contact-title {
    margin: 45px 0 14px;
    h3 {
      font-size: 15px;
      line-height: 27px;
      text-transform: capitalize;
      color: rgb(113, 113, 122);
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  .carte-contact {
    border: solid 1px #27272a;
    height: 70%;
    border-radius: 14px;
    background: #18181b;
    padding: fn.convertir-rem(10);
    width: 100%;
  }

  .parent-div {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    cursor: pointer;
    .A {
      border-bottom: solid 1px #27272a;
      display: flex;
      gap: 15px;
      padding: fn.convertir-rem(8);
      .svg-parent {
        svg {
          height: 100%;
          text-align: center;
        }
      }
      .infos-contact {
        align-self: center;
        p {
          text-transform: capitalize;
          font-size: fn.convertir-rem(13);
          user-select: none;
        }
      }

      .mail-infos {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
        width: 100%;
        p {
          text-transform: capitalize;
          font-size: fn.convertir-rem(13);
          user-select: none;
        }

        div{
          display: flex;
          align-items: center;
          span{
            font-size: fn.convertir-rem(13);
            &::selection {
              background: rgb(176, 87, 117);
            }

          }
        }
      }
    }

    .bordur {
      border: none;
    }
  }
}
