@use "../../styles/utils/variable" as v;
@use "../../styles/utils/functions" as fn;

.contactmeSection {
  //   background: #18181b;
  //   padding: fn.convertir-rem(20);
  .contact-title {
    margin: 45px 0 14px;
    h3 {
      font-size: 15px;
      line-height: 27px;
      text-transform: capitalize;
      color: rgb(113, 113, 122);
      font-weight: 300;
      text-transform: capitalize;
    }
  }
  .carte-contact {
    background: #18181b;
      padding: fn.convertir-rem(15);
    .mail {
      display: flex;
      gap: 7px;
      svg {
        height: fn.convertir-rem(20);
      }
      p {
        text-transform: capitalize;
        font-size: fn.convertir-rem(13);
      }
      div {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
