@use "../../styles/utils/variable" as v;
@use "../../styles/utils/functions" as fn;
@use "../../base/typographie";
@use "../../styles/utils/mixin" as m;

nav {
  width: 100%;
  @include m.flexcenterspace;
  user-select: none;
  p {
    font-family: "Allura";
    font-size: 1.5em;
    text-transform: capitalize;
    letter-spacing: 0.1em;
    transform: rotate(-8deg);
    font-weight: 600;
    span {
      &::after {
        content: "";
        display: block;
        width: 32%;
        transform: translateY(fn.convertir-rem(-8));
        height: fn.convertir-rem(2);
        background: linear-gradient(135deg, #7522df, #2196f3);
      }
    }
  }
  ul {
    display: flex;
    align-items: center;
    width: 38%;
    height: fn.convertir-rem(40);
    border: solid 1px #333334;
    background: #18181b;
    border-radius: fn.convertir-rem(1500);

    li {
      cursor: pointer;
      color: #a1a1a4;
      font-size: 0.9em;
      margin-left: 2px;
      margin-right: 2px;
      text-transform: capitalize;
      user-select: none;
      flex: 1;
      text-align: center;
    }
  }
}

.active {
  background: #3f3f46;
  margin-left: fn.convertir-rem(2);
  border-radius: fn.convertir-rem(1000);
  height: fn.convertir-rem(35);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ececef;
}
